:global {
   @import '~compass-mixins';
   @import '~kambi-widget-core-library/src/scss/core.scss';

   // Our webpack configuration uses autoprefixer (https://github.com/postcss/autoprefixer) so we don't need to worry about vendor specific prefixes

   .participants {
      text-align: center;
      cursor: pointer;
   }

   .participants-font-size {
      font-size: large;
   }

   .KambiWidget-card-background-color {
       background-color: #071260 !important;

       header {
            background: #0c1fa7;
            color: white;
       }
   }

   .KambiWidget-outcome {
       background: #f76919;

       &:hover {
           background: blue;
       }

       &:active {
           background: red;
       }
   }
}
